In [1]:
# import pandas as pd
import pandas as pd
  
# Creating empty series
ser = pd.Series()
  
print(ser)

Series([], dtype: float64)

C:\Users\DELL\AppData\Local\Temp/ipykernel_21076/826589925.py:5: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  ser = pd.Series()

In [2]:
# import pandas as pd
import pandas as pd
  
# import numpy as np
import numpy as np
  
# simple array
data = np.array(['g', 'e', 'e', 'k', 's'])
  
ser = pd.Series(data)
print(ser)

0    g
1    e
2    e
3    k
4    s
dtype: object

In [3]:
# import pandas as pd
import pandas as pd
  
# import numpy as np
import numpy as np
  
# simple array
data = np.array(['g', 'e', 'e', 'k', 's'])
  
# providing an index
ser = pd.Series(data, index =[10, 11, 12, 13, 14])
print(ser)

10    g
11    e
12    e
13    k
14    s
dtype: object

In [4]:
import pandas as pd
  
# a simple list
list = ['g', 'e', 'e', 'k', 's']
   
# create series form a list
ser = pd.Series(list)
print(ser)

0    g
1    e
2    e
3    k
4    s
dtype: object

In [5]:
import pandas as pd
   
# a simple dictionary
dict = {'Geeks' : 10,
        'for' : 20,
        'geeks' : 30}
   
# create series from dictionary
ser = pd.Series(dict)
   
print(ser)

Geeks    10
for      20
geeks    30
dtype: int64

In [6]:
import pandas as pd
  
import numpy as np
  
# giving a scalar value with index
ser = pd.Series(10, index =[0, 1, 2, 3, 4, 5])
  
print(ser)

0    10
1    10
2    10
3    10
4    10
5    10
dtype: int64

In [7]:
# import pandas and numpy 
import pandas as pd 
import numpy as np 
    
# series with numpy linspace()  
ser1 = pd.Series(np.linspace(3, 33, 3)) 
print(ser1) 
    
# series with numpy linspace() 
ser2 = pd.Series(np.linspace(1, 100, 10)) 
print("\n", ser2)

0     3.0
1    18.0
2    33.0
dtype: float64

 0      1.0
1     12.0
2     23.0
3     34.0
4     45.0
5     56.0
6     67.0
7     78.0
8     89.0
9    100.0
dtype: float64