In [1]:
import pandas as pd
df=pd.read_csv("p:\\excel\\weather_data.csv")
df

        day  temperature  windspeed  event
0  01-01-17           32          6   Rain
1  02-01-17           35          7  Sunny
2  03-01-17           28          2   Snow
3  04-01-17           24          7   Snow
4  05-01-17           32          4   Rain
5  06-01-17           32          2  Sunny

In [2]:
import pandas as pd
weather_data={
    'days':['1/1/2017','1/2/2017','1/3/2017','1/4/2017','1/5/2017','1/6/2017'],
    'temperature':[32,35,28,24,32,32],
    'windspeed':[6,7,2,7,4,2],
    'event':['Rain','Sunny','Snow','Snow','Rain','Sunny']
}
df=pd.DataFrame(weather_data)
df

       days  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           32          2  Sunny

In [3]:
rows,columns=df.shape

In [4]:
rows,columns

(6, 4)

In [5]:
df.head()

       days  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain

In [6]:
df.head(2)

       days  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny

In [7]:
df.tail()

       days  temperature  windspeed  event
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           32          2  Sunny

In [8]:
df.tail(3)

       days  temperature  windspeed  event
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           32          2  Sunny

In [9]:
df[2:5]

       days  temperature  windspeed event
2  1/3/2017           28          2  Snow
3  1/4/2017           24          7  Snow
4  1/5/2017           32          4  Rain

In [10]:
df.columns

Index(['days', 'temperature', 'windspeed', 'event'], dtype='object')

In [11]:
df.days

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: days, dtype: object

In [12]:
df.event# or df['event']

0     Rain
1    Sunny
2     Snow
3     Snow
4     Rain
5    Sunny
Name: event, dtype: object

In [13]:
type(df['event'])

pandas.core.series.Series

In [14]:
df[['event','days','temperature']]

   event      days  temperature
0   Rain  1/1/2017           32
1  Sunny  1/2/2017           35
2   Snow  1/3/2017           28
3   Snow  1/4/2017           24
4   Rain  1/5/2017           32
5  Sunny  1/6/2017           32

In [15]:
df

       days  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           32          2  Sunny

In [16]:
df.temperature.max() #or df['temperature'].max()

35

In [17]:
df.temperature.min() #or df['temperature'].min()

24

In [18]:
df['temperature'].std()

3.8858718455450894

In [19]:
df.describe()

       temperature  windspeed
count     6.000000   6.000000
mean     30.500000   4.666667
std       3.885872   2.338090
min      24.000000   2.000000
25%      29.000000   2.500000
50%      32.000000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [20]:
df[df['temperature']>31]

       days  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
4  1/5/2017           32          4   Rain
5  1/6/2017           32          2  Sunny

In [21]:
df[df['temperature']==df['temperature'].max()]

       days  temperature  windspeed  event
1  1/2/2017           35          7  Sunny

In [22]:
df[df['windspeed']==df['windspeed'].max()]

       days  temperature  windspeed  event
1  1/2/2017           35          7  Sunny
3  1/4/2017           24          7   Snow

In [40]:
df[['days','temperature']][df['temperature']==df['temperature'].max()]

           days  temperature
event
Sunny  1/2/2017           35

In [24]:
df

       days  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           32          2  Sunny

In [25]:
df.index

RangeIndex(start=0, stop=6, step=1)

In [26]:
 df.set_index('days',inplace=True)

In [27]:
df.loc['1/4/2017']

temperature      24
windspeed         7
event          Snow
Name: 1/4/2017, dtype: object

In [28]:
df.reset_index(inplace=True)
df

       days  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           32          2  Sunny

In [29]:
df.set_index('event',inplace=True)
df

           days  temperature  windspeed
event
Rain   1/1/2017           32          6
Sunny  1/2/2017           35          7
Snow   1/3/2017           28          2
Snow   1/4/2017           24          7
Rain   1/5/2017           32          4
Sunny  1/6/2017           32          2

In [30]:
df.loc['Snow']

           days  temperature  windspeed
event
Snow   1/3/2017           28          2
Snow   1/4/2017           24          7